<!-- Since we are in the same Item folder we have to reference it-->
@model E_Commerce_Website.Models.Item

<!--This form is linked to the post Create action in the ItemController. This is because when the user clicks create on the page
    I want all of the information that he entered in the table that is created within this form to populate the tables in the database
    So whatever the user types will be first send to the post Create method , which will be the first step to populate the columns.-->
<form method="post" asp-action="Create">
    <div class="border p-3">
        <div class="form-group row">
            <h2 class="text-black-50 pl-3 ">Add Books</h2>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="form-group row">
                    <div class="col-4">
                        <!--instead of hard coding the names for the form , we can use it directly from the model like shown below-->
                        <!--aps-for allows to use the properties(column) names from the item model - Models/Item.cs-->
                        <label asp-for="BookTitle"></label>
                    </div>
                    <div class="col-4">
                        <label asp-for="Author"></label>

                    </div>
                    <div class="col-4">
                        <label asp-for="AssociatedCourse"></label>

                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <!--Specifying that whatever the input will be it will be associated with the appropriate columns e.g.
                            if a user types something in the BookTitle input this will add whatever the input was to the BookTitle column 
                            in the database-->
                        <input asp-for="BookTitle" class="form-control"/>
                    </div>
                    <div class="col-4">
                        <input asp-for="Author" class="form-control" />
                    </div>
                    <div class="col-4">
                        <input asp-for="AssociatedCourse" class="form-control" />
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-8 offset-2 row">
                        <div class="col">
                            <!--Creating a button that displays CREATE-->
                            <input type="submit" class="btn btn-outline-primary w-100" value="create" />
                        </div>
                        <div class="col">
                            <!--A button that send back to Item/Index page - so the page with My Books-->
                            <a asp-controller="Item" asp-action="Index" class="btn btn-outline-primary w-100">Go Back</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    
</form>