<!--Retriving the data sent from the controller-->
<!--So basically I am saying here that I am fetching the model data of type Item
    so this will recognize all of the Item data type -->
@model IEnumerable<E_Commerce_Website.Models.Item>

<!--Here I am using boostrap library with the HTML to create a nice page-->

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Available Courses</h2>
            <p>The list of available courses</p>
        </div>
        <div class="col-6 text-right">
            <!--Specifying where the user will be redirected after clicking on Create new Item button-->
            <a asp-controller="Item" asp-action="Create" class="btn btn-outline-primary">Create new Item</a>
        </div>

    </div>

    <!--This gives me details how many items there are in the model-->
   
    @if(Model.Count() > 0){ 
        
        <table class="table table-bordered table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>
                        Course Name
                    </th>
                    <th>
                        Author
                    </th>
                    <th>
                        Associated Book
                    </th>
                    <th>
                        Basket
                    </th>
                </tr>
            </thead>
            <tbody>
                <!--During each iteration variable item will hold a value of an element from Model.
                    This table for now has only one row except the header row.
                    Each cell within this row will be populated with data from the database-->
                @foreach(var Item in Model)
                {
                <tr>
                    <td width="30%">@Item.BookTitle</td>
                    <td width="30%">@Item.Author</td>
                    <td width="30%">@Item.AssociatedCourse</td>
                    <td width="30%">
                        <div class="w-100 btn-group" role="group">
                            <!--Specifying where the user will be redirected to Update or Delete page after clicking on Update/Delete. Here I am also specifying that
                the Update and Delete are linked to the primary Key from the MyCourses controller. This is because these buttons must be linked
                to each row, so that they know what to delete. Primary key identifies uniquely each row, so we can use it here.-->
                            <a asp-controller="MyBasket" asp-action="Add" asp-route-Id="@Item.Id" class="btn btn-danger mx-1">Add</a>
                            
                        </div>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <!--If there are no items in the model (so in the database)-->
        <p>No items Created yet</p>
    }




</div>